.list-view{
    -fx-background-color: surface-color;
    -fx-background-insets: 0;
    -fx-padding: 1;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: primary-overlay;
}

.list-cell:even, .list-cell:odd {
    -fx-background-color: transparent;
}

.list-cell:filled:hover {
    -fx-background-color: surface-overlay;
    -fx-fill: on-surface-color;
}

.list-cell:selected {
    -fx-text-fill: on-surface-color;
}

.order-list-view {

}

.order-list-view .list-cell:filled:hover {
    -fx-background-color: derive(surface-overlay, 80%);
}

.order-list-view .list-cell .text-field{
    -fx-background-color: derive(surface-overlay, 80%);
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-border-width: 0;
}

.order-list-view .list-cell .text-field:hover, .order-list-view .list-cell .text-field:focused{
    -fx-background-color: derive(surface-overlay, 10%);
}