@import "Fonts.css";
@import "style-color.css";

.button, .toggle-button{
    -fx-cursor: hand;
    -fx-text-fill: on-surface-color;
    -fx-font-family: 'Roboto Medium';
    -fx-font-weight: 500;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-background-color: transparent;
}

.tool-bar{
    -fx-background-color: secondary-color;
}

.active-btn{
    -fx-text-fill: on-surface-med-color;
}

.text-btn{
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-text-fill: primary-color;
}

.contained-btn{
    -fx-cursor: hand;
    -fx-border-color: transparent;
    -fx-background-color: primary-color;
    -fx-text-fill: primary-text-color;
}


.outline-btn{
     -fx-border-color: surface-overlay;
     -fx-border-width: 1px;
     -fx-background-color: surface-color;
     -fx-text-fill: primary-color;
 }

.outline-btn:hover{
    -fx-text-fill: primary-dark-color;
    -fx-border-color: surface-focus-overlay;
 }


.icon-btn{
    -fx-border: 0;
    -fx-padding: 0;
    -fx-text-fill: primary-color;
    -fx-background-color: transparent;
}

.icon-primary-color{
    -fx-fill: primary-color;
}

.text-field{
    -fx-background-color: surface-overlay;
    -fx-text-fill: on-surface-color;
    -fx-border-radius: 4px;
    -fx-border-color: transparent;
    -fx-highlight-fill: primary-color;
}

.text-field:hover, .text-field:focused{
    -fx-border-color: primary-color;
}

.text-field-underline{
    -fx-background-color: transparent;
    -fx-text-fill: on-surface-color;
    -fx-border-radius: 0;
    -fx-border-color: surface-overlay;
    -fx-border-width: 0 0 2 0;
    -fx-highlight-fill: primary-color;
}

.text-field-underline:hover, .text-field-underline:focused{
    -fx-border-color: surface-focus-overlay;
}

.round-overlay-text-field{
    -fx-background-color: transparent;
    -fx-border-color: surface-overlay;
}

.review-text-field{
    -fx-border-radius: 0px;
    -fx-background-color: surface-overlay;
    -fx-background-radius: 0;
}

.error-text-field{
    -fx-background-color: surface-overlay;
    -fx-text-fill: error-color;
    -fx-border-color: error-color;
}

.error-text-field:hover, .error-text-field:focused{
    -fx-border-color: error-color;
}

.outline-text-field{
    -fx-background-color: transparent;
    -fx-border-radius: 4px;
    -fx-border-color: rgba(0, 0, 0, 0.12);
 }

.error-outline-text-field{
    -fx-background-color: surface-overlay;
    -fx-border-radius: 4px;
    -fx-text-fill: error-color;
    -fx-border-color: error-color;
}

.error-outline-text-field:hover, .error-outline-text-field:focused{
    -fx-border-color: error-color;
}

 .assistive-text{
     -fx-fill: on-surface-med-color;
 }

.h2{
    -fx-font-family: 'Roboto Light';
    -fx-font-size: 60px;
}

.h3{
    -fx-font-family: 'Roboto Regular';
    -fx-font-size: 48px;
}

.h4{
    -fx-font-family: 'Roboto Regular';
    -fx-font-size: 32px;
}

.h6{
    -fx-font-family: 'Roboto Medium';
    -fx-font-size: 20px;
}

.subtitle1{
    -fx-font-family: 'Roboto Regular';
    -fx-font-size: 16px;
    -fx-text-fill: rgba(0, 0, 0, 0.87);
}

.subtitle2{
    -fx-font-family: 'Roboto Medium';
    -fx-font-size: 14px;
    -fx-text-fill: rgba(0, 0, 0, 0.87);
}

.body1{
    -fx-font-family: 'Roboto';
    -fx-font-size: 16px;
    -fx-text-fill: rgba(0, 0, 0, 0.87);
}

.secondary-text{
    -fx-font-size: 14px;
    -fx-text-fill: on-surface-color;
}

.root{
    -fx-font-family: 'Roboto Light';
    -fx-background-color: app-background-color;
}

.product-card{
    -fx-background-radius: 0 0 5 5;
    -fx-border-width: 1px;
    -fx-border-radius: 0 0 5 5;
    -fx-border-color: transparent;
    -fx-background-color: surface-color;
    -fx-effect: dropshadow( gaussian, rgba(0, 0, 0, 0.14), 2, 0.5, 0, 1);
}

.product-card:hover{
    -fx-background-color: surface-color, primary-overlay;
}

.product-card:pressed{
    -fx-border-color: primary-color;
}

.warning{
    -fx-fill: error-color;
}

.split-pane > .split-pane-divider {
    -fx-padding: 1;
    -fx-background-color: surface-overlay;

}

.split-pane .scroll-pane{
    -fx-background-color: app-background-color;
}

.list-item-btn{
    -fx-background-radius: 6px;
    -fx-font-size: 14px;
    -fx-text-fill: on-surface-color;
}

.list-item-btn:hover{
    -fx-background-color: surface-overlay;
    -fx-text-fill: on-surface-color;
    -fx-fill: on-surface-color;
}

.list-item-active-btn{
    -fx-background-color: primary-overlay;
    -fx-text-fill: primary-color;
    -fx-fill: primary-color;
}
.list-item-active-btn:hover{
    -fx-background-color: primary-overlay;
    -fx-text-fill: primary-dark-color;
    -fx-fill: primary-dark-color;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
}
.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color: transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track, .scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: surface-overlay;
    -fx-background-radius: 5em;
}
.scroll-pane > .corner {
    -fx-background-color: transparent;
}

.buy-button {
    -fx-background-color: primary-color;
    -fx-background-radius: 0;
    -fx-text-fill: primary-text-color;
}
.buy-text-field{
    -fx-text-fill: primary-color;
    -fx-font-family: 'Roboto Medium';
    -fx-background-color: transparent;
    -fx-border-radius: 0;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-highlight-text-fill: primary-color;
    -fx-highlight-fill: transparent;
}

.buy-text-field:hover{}

.review-card{
    -fx-border-width: 1px;
    -fx-border-color: transparent;
    -fx-background-color: app-background-color;
    -fx-effect: dropshadow( gaussian, rgba(0, 0, 0, 0.14), 2, 0.5, 0, 1);
}

.star-btn{
    -fx-padding: 0;
}

.list-item-btn{
    -fx-background-radius: 6px;
    -fx-font-size: 14px;
    -fx-text-fill: on-surface-color;
}

.list-item-btn:hover{
    -fx-background-color: surface-overlay;
    -fx-text-fill: on-surface-color;
    -fx-fill: on-surface-color;
}

.list-item-btn:focused{
    -fx-background-color: primary-overlay;
    -fx-text-fill: primary-color;
    -fx-fill: primary-color;
}

.list-item-active-btn{
    -fx-background-color: primary-overlay;
    -fx-text-fill: primary-color;
    -fx-fill: primary-color;
}
.list-item-active-btn:hover{
    -fx-background-color: primary-overlay;
    -fx-text-fill: primary-dark-color;
    -fx-fill: primary-dark-color;
}

.ship-btn{
    -fx-text-fill: primary-color;
    -fx-fill: primary-color;
    -fx-border-radius: 50;
    -fx-background-radius: 50;
    -fx-background-color: primary-overlay;
    -fx-padding: 8;
}

.ship-btn:hover{
    -fx-text-fill: primary-dark-color;
    -fx-background-color: primary-overlay-hover;
}

.ship-btn .svg-path{
    -fx-fill: primary-color;
}