*{
    primary-color : #00965a;
    primary-light-color : #00854e;
    primary-dark-color : #0ea967;
    secondary-color : #ce0e44;
    secondary-light-color : #d6345d;
    secondary-dark-color : #96003c;
    primary-text-color : #ffffff;
    on-primary-color: #ffffff;
    secondary-text-color : #ffffff;
    error-color: #b00020;
    app-background-color: #ffffff;
    surface-color: #ffffff;
    on-error: #ffffff;
    on-surface-color: #000000;
    on-surface-med-color: #21212199;
    surface-overlay: #21212114;
    surface-focus-overlay: #21212138;
    primary-overlay : rgba(0, 150, 90, 0.08);
    primary-overlay-hover : rgba(0, 150, 90, 0.06);
    primary-med-overlay : rgba(0, 150, 90, 0.6);
    app-font-family: 'Roboto';
}