*{
    primary-color : #EE8002;
    primary-light-color : #f89c08;
    primary-dark-color : #ee0a02;
    secondary-color : #20a2ff;
    secondary-light-color : #54b3ff;
    secondary-dark-color : #0092ff;
    primary-text-color : #ffffff;
    on-primary-color: #ffffff;
    secondary-text-color : #ffffff;
    error-color: #b00020;
    app-background-color: #ffffff;
    surface-color: #ffffff;
    on-error: #ffffff;
    on-surface-color: #000000;
    on-surface-med-color: #21212199;
    surface-overlay: #21212114;
    surface-focus-overlay: #21212138;
    primary-overlay : rgba(238, 128, 2, 0.08);
    primary-overlay-hover : rgba(238, 128, 2, 0.06);
    primary-med-overlay : rgba(238, 128, 2, 0.6);
    app-font-family: 'Roboto';
}