.menu-button{
    -fx-font-family: "Roboto Medium";
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-background-radius: 5px;
}

.menu-button .label{
    -fx-text-fill: on-surface-color;
}

.menu-button .context-menu {
    -fx-background-color: derive(surface-color, 17%);
    -fx-padding: 8 0 8 0;
    -fx-background-radius: 10;
    -fx-effect: dropshadow( gaussian, rgba(0, 0, 0, 0.12), 4, 0.5, 0, 1);;
}

.menu-button:hover{
}

.menu-button > .arrow-button > .arrow {
    -fx-background-color: on-surface-color;
    -fx-shape: "M7 10l5 5 5-5z";
}

.menu-button .menu-item{
    -fx-background-color: derive(surface-color, 17%);
    -fx-border-radius: 0;
    -fx-border-width: 0;
    -fx-padding: 10;
    -fx-effect: none;
}

.menu-button .menu-item:focused{
    -fx-font-family: "Roboto Medium";
    -fx-background-color: derive(primary-color, 60%);
}

.primary-color-menu-button .label{
    -fx-text-fill: primary-color;
}

.primary-color-menu-button .arrow-button > .arrow {
    -fx-background-color: primary-color;
}

.on-secondary-color-menu-button .label{
    -fx-text-fill: on-secondary-color;
}

.on-secondary-color-menu-button .arrow-button .arrow{
    -fx-background-color: on-secondary-color;
}

.menu-button .menu-item .label {
    -fx-text-fill: on-surface-color;
}

.menu-button .menu-item:focused .label{
    -fx-text-fill: on-primary-color;
}